Source: python-openrtm-aist
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50), doxygen, omniidl-python, python
Standards-Version: 3.9.3
Section: contrib/python
Homepage: http://www.openrtm.org/
Vcs-Browser: http://git.debian.org/?p=debian-science/packages/python-openrtm-aist.git
Vcs-Git: git://git.debian.org/debian-science/packages/python-openrtm-aist.git
X-Python-Version: all

Package: python-openrtm-aist
Architecture: all
Depends: ${misc:Depends}, omniidl-python, python
Description: Component-oriented robotics system development platform (Python)
 Development platform allowing robotics system design by writing
 RT-components and connecting them together.
 .
 This package contains the documentation for the C++ version of
 this software.
